{%extends "home.html"%}

{%block content%}

<div class="container">
    <form action="{% url 'updateauthority'%}" method='post' enctype="multipart/form-data">

        {% csrf_token %}

        {% for i in authority %}

           <!-- profile card css -->
           <style>
        
            .card {
              border: 1px solid #ddd;
              border-radius: 6px;
              max-width: 380px;
              text-align: center;
              margin-top: 60px;
              background-color: #34dbdb;
              position: relative;
              margin: auto;
              
          }
          .card_cover img {
            width: 100%;
            height: 300px; 
            object-fit: cover;
        }
          .card_img {
              width: 120px;
              height: 120px;
              overflow: hidden;
              border-radius: 50%;
              margin: -60px auto 0;
          }
          
          .card_img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
          .card_info {
              padding-bottom: 20px;
          }
          h5.phone{
            margin-bottom: -15px;
            margin-left: -200px;
          }
          h5.Age{
            margin-top: -17px;
            margin-left: -290px;
    
          }
    
          h5.email{
            margin-left: -190px;
          }
          
         p_e_box{
          padding-bottom: 10px;
         }
          a {
            text-decoration: none;
            color: rgb(183, 0, 255);
          }
          a:hover{
            color: black;
          }
          </style>
        <!-- profile card -->
        <div class="card">
          <div class="card_cover">
            <img src="/media/{{i.profile_pic}}" alt="cove-photo">
          </div>
          <div class="card_img"> 
              <img src="/media/{{i.profile_pic}}" alt="user-image">
          </div>
          <div class="card_info"> 
                <h2>{{i.First_Name}} {{i.Last_Name}} </h2>
               <div class="p_e_box">
                <h5 class="phone">Phone:{{i.Mobile}}</h5>
                <h5 class="email">Email:{{i.Email}}</h5>
                <h5 class="Age">Age:{{i.Age}}</h5>
                <h5 class="ID">ID:{{i.ID}}</h5>
              </div>
              <a href="https://saimaeva.netlify.app/">Portfolio</a>
          </div>
      </div>
      {% include "messages.html" %}
    <form>
      <label for="fname">Authority Id</label>
      <input type="text" id="fname" value="{{i.id}}" name="authorityid" placeholder="Your id..">

      <label for="fname">First Name</label>
      <input type="text" id="fname" value="{{i.First_Name}}" name="fname" placeholder="Your name..">

      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" value="{{i.Last_Name}}" name="lname" placeholder="Your last name..">

      <label for="Mobile">Mobile Number</label>
      <input type="text" id="lname" value="{{i.Mobile}}" name="mobile" placeholder="Your mobile number..">

      <label for="email">Email</label>
      <input type="text" id="email" value="{{i.Email}}" name="email" placeholder="Your email..">

      <label for="age">Age</label>
      <input type="text" id="age" value="{{i.Age}}" name="age" placeholder="Your age..">

      <label for="ID">ID</label>
      <input type="text" id="ID" value="{{i.ID}}" name="ID" placeholder="Your ID..">

      <label for="image">Image</label>
      <input type="file" id="image" value="{{i.profile_pic}}" name="profile_pic" placeholder="Your image..">

      <input type="submit" value="Update">
      {% endfor %}
    </form>
   
  </div>


{%endblock%}