{%extends "home.html"%}

{%block content%}

<div class="container">
    <form action="{% url 'updateteacher'%}" method='post'>

        {% csrf_token %}

        {% for i in teacher %}

        <div class="card"> 
          <div class="card_img"> 
              <img src="/media/{{i.profile_pic}}" alt="user-image">
          </div>
          <div class="card_info"> 
              <h2>{{i.First_Name}} {{i.Last_Name}} </h2>
              <a href="https://saimaeva.netlify.app/">Portfolio</a>
          </div>
      </div>
    
    <form>
      <label for="fname">Teacher Id</label>
      <input type="text" id="fname" value="{{i.id}}" name="teacherid" placeholder="Your id..">

      <label for="fname">First Name</label>
      <input type="text" id="fname" value="{{i.First_Name}}" name="firstname" placeholder="Your name..">

      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" value="{{i.Last_Name}}" name="lastname" placeholder="Your last name..">

      <label for="Mobile">Mobile Number</label>
      <input type="text" id="lname" value="{{i.Mobile}}" name="mobile" placeholder="Your mobile number..">

      <label for="email">Email</label>
      <input type="text" id="email" value="{{i.Email}}" name="email" placeholder="Your email..">

      <label for="age">Age</label>
      <input type="text" id="age" value="{{i.Age}}" name="age" placeholder="Your age..">

      <input type="submit" value="Update">
      {% endfor %}
    </form>
   
  </div>


{%endblock%}