
{% block content%}
<header>

</header>

<nav>
    <a href="{% url 'homePageUrl' %}">Home</a>
    <a href="{% url 'studentPageUrl' %}">Student</a>
    <a href="{% url 'teacherPageUrl' %}">Teacher</a>
    <a href="{% url 'employeePageUrl' %}">Employee</a>
    <a href="{% url 'authorityPageUrl' %}">Authority</a>
    <a href="{% url 'libraryPageUrl' %}">Library</a>
    <a style="float:right" class="active" href="{% url 'logoutPage'%}">Log Out</a>
    <a style="float:right" class="active" href="{% url 'myprofile' %}">Profile</a>
</nav>



{% endblock %}