{% extends "home.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <h2>Students Information</h2>

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Mobile Number</th>
      <th>Email</th>
      <th>Age</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    {% for i in std %}
    <tr>
      <td>{{i.First_Name}}</td>
      <td>{{i.Last_Name}}</td>
      <td>{{i.Mobile}}</td>
      <td>{{i.Email}}</td>
      <td>{{i.Age}}</td>
      <td>
        <img  src="/media/{{i.profile_pic}}" height="40px">
      </td>
      <td>
        <a href="{% url 'editStudent' i.id  %}">Edit</a>
        <a href="{% url 'deleteStudent' i.id  %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div class="container">
    <form action="{%url 'studentAdd'%}" method='post' enctype="multipart/form-data">

        {% csrf_token %}
    
    <br>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="fname" placeholder="Your name..">

      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lname" placeholder="Your last name..">

      <label for="Mobile">Mobile Number</label>
      <input type="text" id="lname" name="mobile" placeholder="Your mobile number..">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email..">

      <label for="age">Age</label>
      <input type="text" id="age" name="age" placeholder="Your age..">

      <label for="age">Profile Picture</label>
      <input type="file" id="age" name="profile_pic" placeholder="Your Picture..">

      <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>

{% endblock %}
